:root {
  /* nur Variablen hier rein */
  --primary-color: #42b983;
  --secondary-color: #35495e;
  --background-color: #D5B942;
  --secondary-background-color: #D9D375;
  --text-color: #2c3e50;
  --white-color: #ffffff;

  --bg-start: #F2EFE5;
  --bg-end: #E3DCC5;
  --card-bg: #edc531;
  --text-main: #000;
  --text-sub: #444;
  --accent: #000;
  --radius: 0;
  --border: 0.0625rem solid #1a1a1a;
  --shadow: 0.25rem 0.25rem 0 rgba(0,0,0,0.1);
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--bg-start), var(--bg-end));
  z-index: -1;
  pointer-events: none;
}