@import './base.css';

html, body {
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  height: 100%;
  margin: 0; 
  padding: 0;
}

#app { 
  width: 100%;
  height: 100%;
  height: 100%;
    margin: 0;
    padding: 0;
}
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    width: 100%;
}
.primary-btn {
    max-width: 100%;
    padding: 1.125rem;
    background: var(--accent, #000);
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: 600;
    cursor: pointer;
    transition: transform .1s, background-color .2s, box-shadow .2s;
    margin-top: 1rem;
    border: 1px solid transparent;

}
.primary-btn:hover {
    background: #ffffff;
    transform: translate(0.125rem, 0.125rem);
    box-shadow: 0.25rem 0.25rem 0 rgba(0,0,0,.2);
    color: #000000;
    
}
.primary-btn:active {
    transform: translate(0,0);
    box-shadow: none;
}